* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}


#cabecalho {
  background-color: black;
  border-radius: 15px;  
  position: fixed;
  top: 0;
  width: 100%;
}

#titulo {
    text-align: center;
}

nav {
    background-color: black;
    border-radius: 15px;
    text-align: center;
         
}

#titulo {
    color: white;
}

#foto {
  margin-top: 300px;
  text-align: center;
}

#minha_foto {
  border-radius: 10px;
  width: 200px;
}

#rodape {
  background-color: black;
  border-radius: 10px;
  bottom: 0px;
  color: white;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

#rodape h3 {
  padding: 1em 1em;
  text-align: center;
}

h1, h2 , p , li, a {
  text-decoration: none;
  font-size: 1.25em;
  line-height: 40px;
}

.lado-esquerdo {
  border: thick black double;
  display: inline-block;
  height: 320px;
  margin-left: 4em;
  margin-right: 4em;
  width: 500px;
}

.lado-direito {
  border: thick black double;
  display: inline-block;  
  margin-left: 4em;
  margin-right: 4em;
  width: 500px;
}

a:hover{
  border-radius: 3px;
  background-color: purple;
  color: white;
}
